<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Bootstrap 实例</title>

    <!-- Bootstrap CSS -->
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">


    <link href="/static/css/contact_list.css" rel="stylesheet">
    <link href="/static/css/chat_box.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/context.standalone.css">


</head>

<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="logout">Logout</a>
                </li>
                <li>
                    <a href="logout">{{ user.username }}</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="row clearfix" height="100%">
        <div class="col-md-4 column">


            <div class="panel panel-default contact-panel">
                <div class="panel-heading c-list">
                    <span class="title">Contacts</span>
                    <ul class="pull-right c-controls">
                        <li><a href="#cant-do-all-the-work-for-you" data-toggle="tooltip" data-placement="top"
                               title="Add Contact"><i class="glyphicon glyphicon-plus"></i></a></li>
                        <li><a href="#" class="hide-search" data-command="toggle-search" data-toggle="tooltip"
                               data-placement="top" title="Toggle Search"><i
                                class="glyphicon glyphicon-search"></i></a></li>
                        <li><a class="refresh_contact_list" title="Refresh" data-toggle="tooltip"><i
                                class="glyphicon glyphicon-repeat"></i></a></li>
                    </ul>
                </div>

                <div class="row" style="display: none;">
                    <div class="col-xs-12">
                        <div class="input-group c-search">
                            <input type="text" class="form-control" id="contact-list-search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span
                                        class="glyphicon glyphicon-search text-muted"></span></button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="panel-group groups" id="panel-9875">
{#                            <div class="panel panel-default">#}
{#                                <div class="panel-heading">#}
{#                                    <a class="panel-title" data-toggle="collapse" href="#panel-element-968396">Group#}
{#                                        2</a>#}
{#                                </div>#}
{#                                <div id="panel-element-968396" class="panel-collapse collapse">#}
{#                                    <ul class="list-group contacts" id="contact-list"></ul>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="panel panel-default">#}
{#                                <div class="panel-heading">#}
{#                                    <a class="panel-title" data-toggle="collapse" href="#panel-element-116491">Group#}
{#                                        1</a>#}
{#                                </div>#}
{#                                <div id="panel-element-116491" class="panel-collapse collapse">#}
{#                                    <ul class="list-group contacts" id="contact-list"></ul>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>


                <ul class="list-group contacts" id="contact-list">
                    {#                    <li class="list-group-item">#}
                    {#                        <div class="col-xs-12 col-sm-3">#}
                    {#                            <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens"#}
                    {#                                 class="img-responsive img-circle"/>#}
                    {#                        </div>#}
                    {##}
                    {#                        <div class="col-xs-12 col-sm-9">#}
                    {#                            <span class="name">Yourself</span><br/>#}
                    {#                                    <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip"#}
                    {#                                          title="5842 Hillcrest Rd"></span>#}
                    {#                                    <span class="visible-xs"> <span#}
                    {#                                            class="text-muted">5842 Hillcrest Rd</span><br/></span>#}
                    {#                                    <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip"#}
                    {#                                          title="(870) 288-4149"></span>#}
                    {#                            <span class="visible-xs"> <span class="text-muted">(870) 288-4149</span><br/></span>#}
                    {#                                    <span class="glyphicon glyphicon-envelope text-muted c-info" data-toggle="tooltip"#}
                    {#                                          title="scott.stevens@example.com"></span>#}
                    {#                                    <span class="visible-xs"> <span#}
                    {#                                            class="text-muted">scott.stevens@example.com</span><br/></span>#}
                    {#                        </div>#}
                    {#                        <div class="clearfix"></div>#}
                    {#                    </li>#}
                    {#                    <li class="list-group-item">#}
                    {#                        <div class="col-xs-12 col-sm-3">#}
                    {#                            <img src="http://api.randomuser.me/portraits/men/97.jpg" alt="Seth Frazier"#}
                    {#                                 class="img-responsive img-circle"/>#}
                    {#                        </div>#}
                    {#                        <div class="col-xs-12 col-sm-9">#}
                    {#                            <span class="name">Seth Frazier</span><br/>#}
                    {#                                        <span class="glyphicon glyphicon-map-marker text-muted c-info"#}
                    {#                                              data-toggle="tooltip"#}
                    {#                                              title="7396 E North St"></span>#}
                    {#                                    <span class="visible-xs"> <span#}
                    {#                                            class="text-muted">7396 E North St</span><br/></span>#}
                    {#                                        <span class="glyphicon glyphicon-earphone text-muted c-info"#}
                    {#                                              data-toggle="tooltip"#}
                    {#                                              title="(560) 180-4143"></span>#}
                    {#                            <span class="visible-xs"> <span class="text-muted">(560) 180-4143</span><br/></span>#}
                    {#                                        <span class="glyphicon glyphicon-envelope text-muted c-info"#}
                    {#                                              data-toggle="tooltip"#}
                    {#                                              title="seth.frazier@example.com"></span>#}
                    {#                                        <span class="visible-xs"> <span#}
                    {#                                                class="text-muted">seth.frazier@example.com</span><br/></span>#}
                    {#                        </div>#}
                    {#                        <div class="clearfix"></div>#}
                    {#                    </li>#}
                    {#                    <li class="list-group-item">#}
                    {#                        <div class="col-xs-12 col-sm-3">#}
                    {#                            <img src="http://api.randomuser.me/portraits/women/90.jpg" alt="Jean Myers"#}
                    {#                                 class="img-responsive img-circle"/>#}
                    {#                        </div>#}
                    {#                        <div class="col-xs-12 col-sm-9">#}
                    {#                            <span class="name">Jean Myers</span><br/>#}
                    {#                                        <span class="glyphicon glyphicon-map-marker text-muted c-info"#}
                    {#                                              data-toggle="tooltip"#}
                    {#                                              title="4949 W Dallas St"></span>#}
                    {#                                    <span class="visible-xs"> <span#}
                    {#                                            class="text-muted">4949 W Dallas St</span><br/></span>#}
                    {#                                        <span class="glyphicon glyphicon-earphone text-muted c-info"#}
                    {#                                              data-toggle="tooltip"#}
                    {#                                              title="(477) 792-2822"></span>#}
                    {#                            <span class="visible-xs"> <span class="text-muted">(477) 792-2822</span><br/></span>#}
                    {#                                        <span class="glyphicon glyphicon-envelope text-muted c-info"#}
                    {#                                              data-toggle="tooltip"#}
                    {#                                              title="jean.myers@example.com"></span>#}
                    {#                                    <span class="visible-xs"> <span#}
                    {#                                            class="text-muted">jean.myers@example.com</span><br/></span>#}
                    {#                        </div>#}
                    {#                        <div class="clearfix"></div>#}
                    {#                    </li>#}
                    {#                    <li class="list-group-item">#}
                    {#                        <div class="col-xs-12 col-sm-3">#}
                    {#                            <img src="http://api.randomuser.me/portraits/women/34.jpg" alt="Rosemary Porter"#}
                    {#                                 class="img-responsive img-circle"/>#}
                    {#                        </div>#}
                    {#                        <div class="col-xs-12 col-sm-9">#}
                    {#                            <span class="name">Rosemary Porter</span><br/>#}
                    {#                                        <span class="glyphicon glyphicon-map-marker text-muted c-info"#}
                    {#                                              data-toggle="tooltip"#}
                    {#                                              title="5267 Cackson St"></span>#}
                    {#                                    <span class="visible-xs"> <span#}
                    {#                                            class="text-muted">5267 Cackson St</span><br/></span>#}
                    {#                                        <span class="glyphicon glyphicon-earphone text-muted c-info"#}
                    {#                                              data-toggle="tooltip"#}
                    {#                                              title="(497) 160-9776"></span>#}
                    {#                            <span class="visible-xs"> <span class="text-muted">(497) 160-9776</span><br/></span>#}
                    {#                                        <span class="glyphicon glyphicon-envelope text-muted c-info"#}
                    {#                                              data-toggle="tooltip"#}
                    {#                                              title="rosemary.porter@example.com"></span>#}
                    {#                                        <span class="visible-xs"> <span#}
                    {#                                                class="text-muted">rosemary.porter@example.com</span><br/></span>#}
                    {#                        </div>#}
                    {#                        <div class="clearfix"></div>#}
                    {#                    </li>#}
                    {#                    <li class="list-group-item">#}
                    {#                        <div class="col-xs-12 col-sm-3">#}
                    {#                            <img src="http://api.randomuser.me/portraits/women/56.jpg" alt="Debbie Schmidt"#}
                    {#                                 class="img-responsive img-circle"/>#}
                    {#                        </div>#}
                    {#                        <div class="col-xs-12 col-sm-9">#}
                    {#                            <span class="name">Debbie Schmidt</span><br/>#}
                    {#                                        <span class="glyphicon glyphicon-map-marker text-muted c-info"#}
                    {#                                              data-toggle="tooltip"#}
                    {#                                              title="3903 W Alexander Rd"></span>#}
                    {#                                    <span class="visible-xs"> <span#}
                    {#                                            class="text-muted">3903 W Alexander Rd</span><br/></span>#}
                    {#                                        <span class="glyphicon glyphicon-earphone text-muted c-info"#}
                    {#                                              data-toggle="tooltip"#}
                    {#                                              title="(867) 322-1852"></span>#}
                    {#                            <span class="visible-xs"> <span class="text-muted">(867) 322-1852</span><br/></span>#}
                    {#                                        <span class="glyphicon glyphicon-envelope text-muted c-info"#}
                    {#                                              data-toggle="tooltip"#}
                    {#                                              title="debbie.schmidt@example.com"></span>#}
                    {#                                        <span class="visible-xs"> <span#}
                    {#                                                class="text-muted">debbie.schmidt@example.com</span><br/></span>#}
                    {#                        </div>#}
                    {#                        <div class="clearfix"></div>#}
                    {#                    </li>#}
                    {#                    <li class="list-group-item">#}
                    {#                        <div class="col-xs-12 col-sm-3">#}
                    {#                            <img src="http://api.randomuser.me/portraits/women/76.jpg" alt="Glenda Patterson"#}
                    {#                                 class="img-responsive img-circle"/>#}
                    {#                        </div>#}
                    {#                        <div class="col-xs-12 col-sm-9">#}
                    {#                            <span class="name">Debbie Schmidt</span><br/>#}
                    {#                                        <span class="glyphicon glyphicon-map-marker text-muted c-info"#}
                    {#                                              data-toggle="tooltip"#}
                    {#                                              title="5020 Poplar Dr"></span>#}
                    {#                            <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span><br/></span>#}
                    {#                                        <span class="glyphicon glyphicon-earphone text-muted c-info"#}
                    {#                                              data-toggle="tooltip"#}
                    {#                                              title="(538) 718-7548"></span>#}
                    {#                            <span class="visible-xs"> <span class="text-muted">(538) 718-7548</span><br/></span>#}
                    {#                                        <span class="glyphicon glyphicon-envelope text-muted c-info"#}
                    {#                                              data-toggle="tooltip"#}
                    {#                                              title="glenda.patterson@example.com"></span>#}
                    {#                                    <span class="visible-xs"> <span#}
                    {#                                            class="text-muted">glenda.patterson@example.com</span><br/></span>#}
                    {#                        </div>#}
                    {#                        <div class="clearfix"></div>#}
                    {#                    </li>#}
                </ul>
            </div>

            <div class="contact_template">
                <li class="list-group-item">
                    <div class="col-xs-12 col-sm-3">
                        <img src="/static/image/default_avatar.gif" alt="default"
                             class="img-responsive img-circle"/>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <span class="name">abc</span><br/>
                                    <span class="glyphicon glyphicon-map-marker text-muted c-info"
                                          data-toggle="tooltip" title="5020 Poplar Dr"></span>
                        <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span><br/></span>
                                    <span class="glyphicon glyphicon-earphone text-muted c-info"
                                          data-toggle="tooltip" title="(538) 718-7548"></span>
                        <span class="visible-xs"> <span class="text-muted">(538) 718-7548</span><br/></span>
                                    <span class="glyphicon glyphicon-envelope text-muted c-info"
                                          data-toggle="tooltip" title="glenda.patterson@example.com"></span>
                                    <span class="visible-xs"> <span
                                            class="text-muted">glenda.patterson@example.com</span><br/></span>
                        <span class="glyphicon glyphicon-trash text-muted c-info delete" data-toggle="tooltip"></span>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </div>

            <div class="group_template">
                <div class="panel panel-default" name="">
                    <div class="panel-heading group-heading">
                        <a class="panel-title group_name" data-toggle="collapse"
                           href="">Group 2</a>
                    </div>
                    <div id="" class="panel-collapse collapse">
                        <ul class="list-group contacts" id="contact-list"></ul>
                    </div>
                </div>
            </div>


            <div id="cant-do-all-the-work-for-you" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="mySmallModalLabel">Add Contact</h4>
                        </div>
                        <div class="modal-body">
                            {#                            <input id="contact_name" placeholder="Contact"> </input>#}
                            {#                            <input id="group" placeholder="Group"> </input>#}
                            <div class="form-group">
                                <label for="InputContactUsername">Contact</label>
                                <input type="username" class="form-control" id="inputContactName"/>
                            </div>
                            <div class="form-group">
                                <label for="Group">Group</label>
                                <input type="group" class="form-control" id="inputContactGroup"/>
                            </div>
                            {#                            <button id="add_contact" type="button" class="btn btn-primary">add</button>#}
                            <button type="submit" class="btn btn-default" id="addContactBtn">Submit</button>
                        </div>
                        <div class="modal-footer">
                            {#                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>#}
                            {#                            <button type="button" class="btn btn-primary">保存</button>#}
                            <span id="contact_msg"></span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-8 column">
            {#            <div class="embed-responsive embed-responsive-4by3">#}
            {#                <iframe class="embed-responsive-item" src="/chat_box/" frameborder="no"></iframe>#}
            {#            </div>#}
            <div class="chat_window">
                <div class="top_menu">
                    <div class="buttons">
                        <div class="button close"></div>
                        <div class="button minimize"></div>
                        <div class="button maximize"></div>
                    </div>
                    <div class="title">Hello</div>
                </div>
                <ul class="messages">
                    <li class="message left appeared">
                        <div class="avatar"></div>
                        <div class="text_wrapper">
                            <div class="text">Hello Philip! :)</div>
                        </div>
                    </li>
                    <li class="message right appeared">
                        <div class="avatar"></div>
                        <div class="text_wrapper">
                            <div class="text">Hi Sandy! How are you?</div>
                        </div>
                    </li>
                    <li class="message left appeared">
                        <div class="avatar"></div>
                        <div class="text_wrapper">
                            <div class="text">I'm fine, thank you!</div>
                        </div>
                    </li>
                    <li class="message right appeared">
                        <div class="avatar"></div>
                        <div class="text_wrapper">
                            <div class="text">你好</div>
                        </div>
                    </li>
                </ul>
                <div class="bottom_wrapper clearfix">
                    <div class="message_input_wrapper"><input class="message_input"
                                                              placeholder="Type your message here..."></div>
                    <div class="send_message">
                        <div class="icon"></div>
                        <div class="text">Send</div>
                    </div>
                </div>
            </div>

            <div class="message_template">
                <li class="message">
                    <div class="avatar"></div>
                    <div class="text_wrapper">
                        <div class="text"></div>
                    </div>
                </li>
            </div>

        </div>

    </div>
</div>

<!-- JavaScript 放置在文档最后面可以使页面加载速度更快 -->
<!-- 可选: 包含 jQuery 库 -->
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- 可选: 合并了 Bootstrap JavaScript 插件 -->
<script src="http://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<!-- JavaScrip Search Plugin -->
<script src="/static/js/jquery.searchable-1.0.0.min.js"></script>

<script src="/static/js/jquery.easyui.min.js"></script>

<script src="/static/js/csrf.js"></script>
<script src="/static/js/chat_box.js"></script>
<script src="/static/js/contact_box.js"></script>

<script src="/static/js/context.js"></script>

</body>

</html>

