{#<!DOCTYPE html>#}
{#<html xmlns="http://www.w3.org/1999/html">#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {#    <meta name="viewport"#}
    {#          content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;"/>#}
    {#    <meta name="apple-mobile-web-app-capable" content="yes"/>#}
    {#    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>#}
    {#    <meta name="format-detection" content="telephone=no"/>#}

    <title>Whats IM Login</title>

    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/reset.css"/>
    <link rel="stylesheet" href="/static/css/style_index.css"/>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>


    <script src="/static/js/csrf.js"></script>
    <script src="/static/js/index.js"></script>

</head>

<body>


<div class="container">
    <div class="info">
        <h1>Whats IM</h1>
        <span>Keep it Simple</span>
        <!-- <span>Made by <a href="http://helloyym.me">Yym</a></span> -->
    </div>
</div>


<div class="form">
    {#                <div class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg"/></div>#}

    <form class="register-form" method="post" action="/register/" id="form_register">
        {% csrf_token %}
        <input type="text" placeholder="username" name="username" id="username_register"/>
        <input type="password" placeholder="password" name="password" id="password_register"/>
        <input type="text" placeholder="email address" name="email" id="email_register"/>
        <input class="button" type="submit" value="create" id="btn_register"/>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>

    <form class="login-form" method="post" action="/login/" id="form_login">
        {% csrf_token %}
        <input type="text" placeholder="username" name="username" id="username_login"/>
        <input type="password" placeholder="password" name="password" id="password_login"/>
        <input class="button" type="submit" value="login" id="btn_login"/>
        <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>

</div>


<footer class="footer">
    <div class="container">
        <div class="info">
            <span><a href="http://helloyym.me">Made by Yym</a></span>
        </div>
    </div>
</footer>


</body>


</html>
